/** Start Global Style **/
body {
  font-family: "GFS Didot", serif;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-size: 45px;
}
/** End Global Style **/

/** start hero-section **/
.hero-section {
  background-image: url(/images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.reso {
  color: #fa974f;
  font-weight: 600;
}
.headings {
  width: 37%;
  padding-left: 10%;
  padding-top: 200px;
  padding-bottom: 200px;
}
.button {
  margin-top: 45px;
}
.button-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #fa974f;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: 800;
}
/** end hero-section **/

/** about-us section **/
.flexible-container {
  display: flex;
}
.about-us {
  background-color: #efefef;
  background-repeat: no-repeat;
  padding: 100px;
}
.half-width {
  width: 45%;
  padding-left: 5%;
}
.half-width img {
  width: 95%;
  height: auto;
}
/** about-us section **/
