/** Start Global Style **/
body {
  font-family: "GFS Didot", serif;
  margin: 0;
  padding: 0;
}
/** End Global Style **/

h1,
h2 {
  color: whitesmoke;
}
.reso {
  color: #fa974f;
}

.hero-section {
  background-image: url(/images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
}
.half-width {
  width: 45%;
  padding-left: 5%;
}
.half-width p {
  color: white;
}
.button-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #fa974f;
  padding: 10px 30px;
}
